@font-face {
  font-family: 'acid';
  src: url('../public/assets/fonts/AcidGrotesk-Regular.otf');
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'acid';
}
.upload{
  padding:.5rem 1rem;
}
